* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 42rem;
  height: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  overflow: hidden;
}
.imgSection {
  height: 100%;
  width: 50%;
  background: url(./images/image-product-desktop.jpg) center/cover;
}
.contentSection {
  background-color: hsl(0, 0%, 100%);
  padding: 2.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
}
.price {
  display: flex;
  align-items: center;
}
button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  border: 0px;
  border-radius: 0.6rem;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: hsl(158, 42%, 18%);
}
.material-symbols-outlined {
  font-size: 20px;
  color: white;
  margin-right: 0.8rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1.5rem;
  display: flex;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    height: 80vh;
    flex-direction: column;
  }
  .imgSection {
    width: 100%;
    height: 45%;
    background: url(./images/image-product-mobile.jpg) center/cover;
  }
  .contentSection {
    padding: 2rem;
    width: 100%;
    height: 55%;
  }
  .attribution {
    margin-top: 1rem;
    flex-direction: column;
  }
  .attribution p {
    margin-bottom: 0.5rem;
  }
}
